#panel {
	width: 800px;
	margin: 0 auto;
	margin: 0;
	padding: 10px;
}

.main_btn {
	float: left;
	width: 120px;
	height: 50px;
	border: solid black 1px;
}

img.pop_btn {
	border: none;
	width: 24px;
	height: 24px;
	display: inline;
}

.util_btn{
	cursor: pointer;
	width: 180px;
	height: 25px;
	margin: 5px 0 5px 20px;
	text-align: center;
	vertical-align: middle;
	background: #EEEEEE;
	border: solid black 1px;
	border-radius: 4px;
}

.util_btn:hover{
	cursor: hand;
	background-color: #DDDDDD;
}
