form{
	width: 860px;
	margin: 0 auto;
	border: solid grey 1px;
	padding: 15px;
}

form label{
	margin-bottom: 10px;
	display: inline-block;
	width: 200px;
	text-align: right;
}

form input[type="text"], input[type="date"] {
	margin-bottom: 10px;
	width: 180px;
}

#filter_form_exam{
	width: 600px;
}

#filter_form_exam label{
	width: 75px;
}

#filter_form_exam input[type="text"]{
	display: inline-block;
	width: 150px;
}

#filter_form_exam input[type="submit"]{
	width: 60px;
	margin-left: 8px;
}

.form_ctrl{
	text-align: center;
	width: 300px;
	margin: 15px auto;
}

.fiche{
	width: 720px;
	margin: 10px auto;
	padding: 5px;
	border: solid black 1px;
}

.fiche span.label{
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	width: 40%;
}

.fiche span.info{
	display: inline-block;
	font-size: 1.3em;
	width: 50%;
}

#patient_tool{
	width: 700px;
	margin: 0 auto;
}

#patient_tool div{
	cursor: pointer;
	background-color: #EEEEEE;
	text-align: center;
	display: inline-block;
	width: 200px;
	border: solid black 1px;
	border-radius: 4px;
}

#patient_tool div:hover{
	cursor: hand;
	background-color: #DDDDDD;
}

#detail_frm{
	width: 700px;
	margin: 15px auto;
}

input[type=text].dt_input{
	width: 80px !important;
}
