form{
	width: 860px;
	margin: 0 auto;
	border: solid grey 1px;
	padding: 15px;
}

form label{
	margin-bottom: 10px;
	display: inline-block;
	width: 200px;
	text-align: right;
}

form input[type="text"], input[type="date"] {
	margin-bottom: 10px;
	width: 180px;
}

#filter_form_exam{
	width: 600px;
}

#filter_form_exam label{
	width: 75px;
}

#filter_form_exam input[type="text"]{
	display: inline-block;
	width: 150px;
}

#filter_form_exam input[type="submit"]{
	width: 60px;
	margin-left: 8px;
}

.form_ctrl{
	text-align: center;
	width: 300px;
	margin: 15px auto;
}
