body{
	margin: 0;
	padding: 0;
}

h2.page_title{
	margin: 5px 0;
	padding: 0;
}

#header{
	margin: 0 auto;
	width: 960px;
	height: 100px;
	background: #cacaca;
}

#contentWrap{
	margin: 0 auto;
	padding: 0;
	width: 960px;
	background: #cce6ff;
}

#footer{
	margin: 0 auto;
	width: 960px;
	background: #ffd9d9;
}

#tmenu{
	margin: 5px 0;
	height: 45px;
}

.clear{
	zoom: 1;
	clear: both;
}
